* {
  margin: 0;
  padding: 0;
}
body {
  margin: 5px;
  padding: auto;
}
#main-id {
  background-color: rgb(53, 4, 56);
  color: white;
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: rgb(75, 9, 70);
}
.logo_name {
  font-size: 1.5rem;
  padding: 5px;
}
.nav_menu {
  margin-right: 50px;
  box-sizing: content-box;
  justify-content: space-around;
  align-items: center;
}
.nav_menu ul {
  display: flex;
  justify-content: space-around;
  font-size: small;
}
.nav_menu ul li {
  list-style: none;
  margin: 0 5px;
  border-radius: 15px;
}
.hero_section {
  display: flex;
  box-sizing: content-box;
  justify-content: space-around;
}

.about_me {
  display: flex;
  justify-content: space-around;
  margin: 23px 0;
  width: 50%;
}

.profile_image {
  display: flex;
  margin-left: 8px;
  /* box-sizing: content-box; */
  justify-content: space-around;
  width: 200px;
  height: 200px;
}
.Expeo {
  display: flex;
  justify-content: space-around;
  margin: 23px 0;
}
.referme {
  display: flex;
  justify-content: space-around;
  margin: 23px 0;
}
.box {
  margin: 10px;
  justify-content: space-around;
}
